img{
    width:600px;
    border: 20px solid#E8FCF7;
}
body{
    background-color:#99ccff;
    background:url("https://us.123rf.com/450wm/muchmaniavector/muchmaniavector1803/muchmaniavector180300056/97691835-dog-footprint-and-bone-seamless-pattern-background-and-light-color.jpg?ver=6");
}
h1{
    font-family: 'Lobster Two', cursive;
}
h2{
    font-family: 'Lobster Two', cursive;
}